
$font16: 16px;
$font14: 14px;
$font12: 12px;
$light-text: #80838F;
$black-text: #282C3F;
$black-1E: #1E1E1E;
$font20: 20px;
$font24: 24px;
$white: #FFFFFF;
$green-btn: #74B055;
$filter-pill: #F15700;
$black: #000000;
$green-link: #74B055;